In [36]:
# Part I - Question 1

top_emitters = [
    "China",
    "United States",
    "India",
    "Russia",
    "Japan",
    "Iran",
    "Indonesia",
    "Saudi Arabia",
    "South Korea",
    "Germany",

]

In [37]:
# Part I - Question 2

len(top_emitters)

10

In [38]:
# Part I - Question 3

top_emitters[:3]

['China', 'United States', 'India']

In [40]:
# Part I - Question 4

for country in top_emitters:
    if "a" in country.lower():
        print(country)

China
United States
India
Russia
Japan
Iran
Indonesia
Saudi Arabia
South Korea
Germany

In [42]:
# Part II 
# Annual 2024 emission

emissions = {
    "China": 13125,
    "United States": 4632,
    "India": 3154,
    "Russia": 2009,
    "Japan": 972,
    "Iran": 828,
    "Indonesia": 812,
    "Saudi Arabia": 652,
    "South Korea": 588,
    "Germany": 580
}

In [43]:
# Part II - Question 2

emissions["United States"]

4632

In [44]:
# Part II - Question 3

high_emitters = []

for country, value in emissions.items():
    if value > 1000:
        high_emitters.append(country)

high_emitters

['China', 'United States', 'India', 'Russia']

In [45]:
# Part II - Question 4

emissions["Brazil"] = 491 

emissions

{'China': 13125,
 'United States': 4632,
 'India': 3154,
 'Russia': 2009,
 'Japan': 972,
 'Iran': 828,
 'Indonesia': 812,
 'Saudi Arabia': 652,
 'South Korea': 588,
 'Germany': 580,
 'Brazil': 491}

In [22]:
# Part III - Question 1

def kelvin_to_celsius(k):
    return k - 273.15

def celsius_to_kelvin(c):
    return c + 273.15

In [26]:
kelvin_to_celsius(273.15)
celsius_to_kelvin(0)

273.15

In [24]:
# Part III - Question 2

def to_fahrenheit(temp, unit="celsius"):
    if unit == "celsius":
        return (temp * 9/5) + 32
    elif unit == "kelvin":
        c = kelvin_to_celsius(temp)
        return (c * 9/5) + 32

In [25]:
to_fahrenheit(0)
to_fahrenheit(273.15, unit="kelvin")

32.0

In [27]:
to_fahrenheit(100)
to_fahrenheit(310, unit="kelvin")

98.33000000000004

In [29]:
# Part III - Question 4

def from_fahrenheit(temp_f, output="celsius"):
    c = (temp_f - 32) * 5/9
    
    if output == "celsius":
        return c
    elif output == "kelvin":
        return celsius_to_kelvin(c)

In [30]:
from_fahrenheit(32)
from_fahrenheit(32, output="kelvin")

273.15

In [31]:
# Part III - Question 5

def height_to_meters(feet, inches):
    return feet * 0.3048 + inches * 0.0254

In [32]:
height_to_meters(5, 7)

1.7018

In [33]:
# Part III - Question 6

def meters_to_height(meters):
    total_inches = meters / 0.0254
    feet = int(total_inches // 12)
    inches = total_inches % 12
    return feet, inches

In [34]:
meters_to_height(1.70)

(5, 6.929133858267718)

In [35]:
# Part III - Question 7

heights = [1.5, 1.7, 1.85]

for h in heights:
    f, i = meters_to_height(h)
    back_to_meters = height_to_meters(f, i)
    print("Original:", h)
    print("Round trip:", back_to_meters)
    print()

Original: 1.5
Round trip: 1.5

Original: 1.7
Round trip: 1.7000000000000002

Original: 1.85
Round trip: 1.8500000000000005